.Home {
        min-height: 100vh;
        /* height: 200vh; */
        background-color: #000;
        position: relative;
        overflow: hidden;
}

.title {
        color: '#feda4a';
        animation-name: shine;
        animation-duration: 3s;
        animation-iteration-count: infinite;
}

@keyframes shine {
        0% {
                opacity: 1;
        }

        50% {
                opacity: .65;

        }

        100% {
                opacity: 1;
        }
}