.Overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    background-image: url('/public/moon-small2.webp'), url('/public/planet-small.webp'), url('/public/aaaa.png');
    background-position: 50% 26%, 15% 60%, 50% bottom;
    background-size: 2%, 12%, 105%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 600px) {
    .Overlay {
        background-position: 50% 26%, 15% 60%, 50% bottom;
        background-size: 10%, 40%, 285%;
    }
}